<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="~/css/style.css" />
    <link rel="stylesheet" href="~/css/header.css" />
    <link rel="stylesheet" href="~/css/Controls.css" />
    
    <title>@ViewData["Title"]</title>
    @await RenderSectionAsync("Styles", required: false)
</head>
<body>
    <header>
        <nav>
            <a href="/">Inicio</a>
            @Html.ActionLink("Crear una cuenta", "create", "account")
            @Html.ActionLink("Hacer un depósito", "Deposit", "transaction")
            @Html.ActionLink("Hacer un retiro", "Withdrawal", "transaction")
        </nav>
    </header>

    <div class="container">    
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="~/js/app.js"></script>
    <script type="text/javascript" src="~/Vue/vue.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
